In [1]:
import warnings
warnings.filterwarnings("ignore")

from dtm_sb import DynTM2 as dtmSB
import numpy as np
import pandas as pd
import swifter
import re

import nltk
nltk.data.path.append("/app/localstorage/u_am_coe/notebooks/nltk_data")
from nltk.corpus import stopwords

# Plots
import pyLDAvis
import pyLDAvis.gensim  # don't skip this
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
################## Stopwords list ##################

stop_words = set(stopwords.words("english") + ['say','million','year','quarter', 'month', 'thank','company','see', 'hi', 'hello', 'how',
                 'think','get','look','okay','well','question', 'billion','management','be', 'chf', 'usd', 'i', 'I', 'want', 'go', 
                 'thanks','morning','please','afternoon','mean','sort','guess','lot', 'right', 'much', 'would', 'could', 'bit', 
                 'like', 'give','take','expect','wonder','try','might','maybe','may','mr', 'sir', 'ahead', 'lady', 'gentleman'])

In [3]:
tran1 = pd.read_csv('ubs_transcripts_extra.csv')
tran2 = pd.read_csv('mytranscripts.csv')
tran = pd.concat([tran1, tran2], axis=0)
tran.reset_index(inplace=True, drop=True)
tran.head()

,Unnamed: 0,asset_class,company,content,content_category,corporate_ticker,country_norm,dfs_path,doc_id,entity_name,event_datetime_utc,isin,metadata,publish_date,region,report_id,sector,solr_query,ticker,title
0,0,NaN,631.0,"<?xml version=""1.0"" encoding=""us-ascii""?>\r\n<...",transcript,NaN,NaN,dsefs://10.32.146.11/FactSetTranscripts/2009/2...,1fa76030-24ee-11e9-85ab-e14ecd502432,NaN,NaN,NaN,"Row(title='Q2 2009 Earnings Call', date='2009-...",2009-08-04,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,631.0,"<?xml version=""1.0"" encoding=""us-ascii""?>\r\n<...",transcript,NaN,NaN,dsefs://10.32.146.11/FactSetTranscripts/2014/2...,390390f0-2505-11e9-afe8-b342154f5c60,NaN,NaN,NaN,Row(title='Morgan Stanley European Financials ...,2014-03-26,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,631.0,"<?xml version=""1.0"" encoding=""us-ascii""?>\r\n<...",transcript,NaN,NaN,dsefs://10.32.146.11/FactSetTranscripts/2010/2...,d4af13c0-24f2-11e9-8a76-b1eb0b6dcec0,NaN,NaN,NaN,"Row(title='Q2 2010 Earnings Call', date='2010-...",2010-07-27,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,631.0,"<?xml version=""1.0"" encoding=""us-ascii""?>\r\n<...",transcript,NaN,NaN,dsefs://10.32.146.11/FactSetTranscripts/2014/2...,3b7c0b00-2505-11e9-9806-e502d52636cf,NaN,NaN,NaN,"Row(title='Q4 2013 Earnings Call', date='2014-...",2014-02-04,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,631.0,"<?xml version=""1.0"" encoding=""us-ascii""?>\r\n<...",transcript,NaN,NaN,dsefs://10.32.146.11/FactSetTranscripts/2014/2...,4fb13af0-2505-11e9-8d63-8360ac252f18,NaN,NaN,NaN,Row(title='UBS Global Financial Services Confe...,2014-05-20,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
ubs_model_static = dtmSB.DynTM(stop_words=stop_words, num_topics=6, company='UBS')
ubs_model_static.struct_file(tran)
ubs_model_static.subset_trans(631, cutoff=10)
ubs_model_static.subset_df.head()
print(np.asarray((ubs_model_static.uniquetimes, ubs_model_static.time_slices)).T)

In [5]:
ubs_model_static.dynamic_model(n_top = 'optimal', timestamp = '2005', seq=False)

In [ ]:
bny_model_static = dtmSB.DynTM(stop_words=stop_words, num_topics=6, company='BNY')
bny_model_static.struct_file(tran)
bny_model_static.subset_trans(77, cutoff=10)
bny_model_static.subset_df.head()
print(np.asarray((bny_model_static.uniquetimes, bny_model_static.time_slices)).T)

In [ ]:
bny_model_static.dynamic_model(n_top = 'optimal', timestamp = '2005', seq=False)